<!DOCTYPE html>
<html ng-app="helloWorldApp">

<head>
    <title>Angular Fundamentals</title>
</head>

<body>
    <div class="container">
        <h1>Angular Fundamentals</h1>
        <h2>{{'Hello from AngularJS'}}</h2>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script>
        var helloWorldApp = angular.module('helloWorldApp', []);
    </script>
</body>

</html>